.header {
    width: 100%;
    background-color: none;
    display: inline-flex;
}

.header .logo img {
    width: 80px;
    padding: 10px 0 5px 10px;
}
.nav li {
    float:right;
    display: inline-block;
    margin-left: 10px;
}
a {
    text-decoration: none;
}
a:visited{
    color: inherit;;
}
li a:hover {
    text-decoration: underline;
}
.nav {
    margin: 15px 0 0 0;
    margin-left: 20%;
    cursor: pointer;
}
.search {
    margin-left: 10%;
}
.cont {
 background-color: none;
    width: 100%;
    height: 100%;
}
.post {
    width: 350px;
    height: 350px;
    background-color: none;
    display: inline-block;
    margin: 10px 10px;
}
.ava img {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 100px;
}
.ava {
    display: inline-flex;
}
.pic img {
    width: 90%;
    height: 70%;
    margin: 0px 20px;
}
.like img {
    width: 25px;
    height: 25px;
    margin: 0 20px;
    cursor: pointer;
}
.htag {
    margin: -15px 0 0 10px;
}
.footer {
    width: 100%;

}
.bttm div{
    display: inline-block;
}
.by {
    font-size: medium;
    font-family: arial;
    font-weight: bold;
}
.about {
    margin-left: 20%;
}
.about li {
    margin-right: 5px;
    display: inline-block;
    font-size: small;
    font-family: arial;
    font-weight: bold;
    
}
.subscribe {
    margin-left: 20%;
}