a {
	color:red;
	text-decoration: none;
}
a:visited {
	color:red;
}
li a:hover{
	background-color: #68a8dc
}
h1 {
	color: blue;
	font-family: arial;
}
h1:first-letter {
	font-family: "Times New Roman";
    font-size: 250%;
    color: white;
}

p {
	font-family: arial;
	color:blue;
	font-weight: 100%;
	letter-spacing: 5px;
}
.nav {
	margin: 0 0 0 600px;
}
 li{
 	display: inline-block;
 	padding: 0px 10px;
}